---
interface Props {
    id: string;
}

const { id } = Astro.props;
---

<div class="marine-image" id={id}>
    
    <div class="dot-coral"></div>
    <div class="coral-info info-dot">
        <h2>Coral</h2>
        <p>Información sobre la planta seleccionada.</p>
    </div>

    <div class="dot-algea"></div>
    <div class="algea-info info-dot">
        <h2>Algea</h2>
        <p>Información sobre la planta seleccionada.</p>
    </div>

    <div class="dot-Pez"></div>
    <div class="pez-info info-dot">
        <h2>Pez</h2>
        <p>Información sobre la planta seleccionada.</p>
    </div>

    <div class="dot-roca"></div>
    <div class="roca-info info-dot">
        <h2>Roca</h2>
        <p>Información sobre la planta seleccionada.</p>
    </div>
    <img
    src="../../public/images/mapaInteractivo/FloraMarina.jpg"
    alt="Flora marina"
/>

</div>

<style>
    .marine-image{
        position: relative;
    }

    /*Coral Dot */
    .coral-info {
        display: none;
        position: absolute;
        width: 200px; /* Ajusta según tus necesidades */
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        top: 73%;
        left: 39.2%;
    }

    .coral-info::before {
        content: "";
        position: absolute;
        top: 90px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .dot-coral {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        top: 86%;
        left: 46%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border: 2px solid white; /* Define el grosor y el color del borde */
    }

    /*Algea Dot */
    .algea-info {
        display: none;
        position: absolute;
        width: 200px; /* Ajusta según tus necesidades */
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        top: 35%;
        left: 18.2%;
    }

    .algea-info::before {
        content: "";
        position: absolute;
        top: 90px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .dot-algea {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 48%;
        left: 25%;
        background-color: black;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border: 2px solid white; /* Define el grosor y el color del borde */
    }

    /*Pez Dot */
    .pez-info {
        display: none;
        position: absolute;
        width: 200px; /* Ajusta según tus necesidades */
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        top: 18%;
        left: 64.2%;
    }

    .pez-info::before {
        content: "";
        position: absolute;
        top: 90px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .dot-Pez {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        top: 31%;
        left: 71%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border: 2px solid white; /* Define el grosor y el color del borde */
    }

    /*Roca Dot */
    .roca-info {
        display: none;
        position: absolute;
        width: 200px; /* Ajusta según tus necesidades */
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        top: 64%;
        left: 71.2%;
    }

    .roca-info::before {
        content: "";
        position: absolute;
        top: 90px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .dot-roca {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
        top: 77%;
        left: 78%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border: 2px solid white; /* Define el grosor y el color del borde */
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dots = document.querySelectorAll(".marine-image .info-dot");

        dots.forEach((dot) => {
            const dotButton = dot.previousElementSibling;
            dotButton.addEventListener("click", () => {
                // Ocultar todas las informaciones antes de mostrar la correcta
                dots.forEach((info) => {
                    info.style.display = "none";
                });
                // Mostrar la información correspondiente al punto en el que se hizo clic
                dot.style.display =
                    dot.style.display === "none" ? "block" : "none";
            });
        });
    });
</script>

